# Files
scratch.py
*.code-workspace

# Files folder
# Ignore all except for images and PDF
/files/*
!/files/images
!/files/*.pdf

# Virtual env folder
/venv

# Ignore migrations folder and db
pnt_proj/ntapi/migrations/*
!/pnt_proj/ntapi/migrations/.gitkeep
pnt_proj/db.sqlite3
