# Files
scratch.py
*.code-workspace
/pnt_proj/gunicorn.conf.py
/pnt_proj/nginx.conf
/pnt_proj/.env
__pycache__/
/pnt_proj/logs/*.log

# Files folder
# Ignore all except for images, PDF, 
/files/*
!/files/images
!/files/*.pdf
!/files/binhi_priority_trees.csv
!/files/tables.zip

# Virtual env folder
/venv

# Ignore migrations folder and db
pnt_proj/ntapi/migrations/*
!/pnt_proj/ntapi/migrations/.gitkeep
pnt_proj/db.sqlite3

# Ignore pycache folder
pnt_proj/pnt_proj/__pycache__
pnt_proj/ntapi/__pycache__
