<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/home/css/custom.css">
    <title>&#x1F333 Pinoy Trees</title>
</head>
<body>
    <div class="container">
        <div class="column left">
            <h1>API for Philippine Native Trees</h1>
            <p>Still a work in progress!</p>
            <p><a href="http://pinoytrees.com/ntapi/">http://pinoytrees.com/ntapi/</a></p>
            <br>
            <h2>Sample endpoints:</h2>
            <br>
            <p><code>name:Smooth%20Narra</code></p>
            <p><code>species:Dipterocarpus validus</code></p>
            <p><code>family:Lamiaceae</code></p>
            <br>
            <p><code>classification:endemic</code></p>
            <p><code>status:vulnerable</code></p>
            <p>Based on DENR Administrative Order 2017-11 which contains the "National List of Threatened Philippine Plants and their categories"</p>
            <p><a href="https://www.philippineplants.org/Resources/dao-2017-11.pdf">https://www.philippineplants.org/Resources/dao-2017-11.pdf</a></p>
            <br>
            <p><code>priority=yes</code></p>
            <p>If the species is included in BINHI's priority species database</p>
            <p><a href="https://binhi.ph/trees/">https://binhi.ph/trees/</a></p>
            <br>
            <p><code>priority:yes/status:critically endangered</code></p>
            <p>For multi-field query</p>
        </div>
        <div class="column right">
            <div style="width: 50%; float:left">
                <img src="../../../static/home/img/kalantas.jpg" height="500" alt="Kalantas">
                <img src="../../../static/home/img/red_lawaan.jpg" height="500" alt="Red Lawaan">
            </div>
            <div style="width: 50%; float:right">
                <img src="../../../static/home/img/antipolo.jpg" height="500" alt="Antipolo">
                <img src="../../../static/home/img/kamagong_ponce.jpg" height="500" alt="Kamagong Ponce">
            </div>
        </div>
    </div>
</body>
</html>
